body {
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    border: 20px solid #bdc3c7;
    padding: 20px;
    font-family: source sans pro;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #3498db;
}

h2 {
    color: #2c3e50;
    font-weight: 700;
    font-size: 2.0rem;
}

.first {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.post {
    margin-bottom: 20px;
}